.rectangle {
width: 200px;
height: 100px;
background-color: #FF0000;
position: absolute;
top: 100px;
left: 100px;
box-shadow: 0 0 20px rgba (16, 0, 54, 0.2);
transition: 0.1s ease-out;
font-family: serif;
}
.oval {
width: 200px;
height: 100px;
background-color: #05abf7;
position: absolute;
top: 500px;
left: 100px;
box-shadow: 0 0 20px rgba (16, 0, 54, 0.2);
transition: 0.1s ease-out;
font-family: serif;
}

